<h1>Browse your library:</h1>



<%= @libraries.each do |video| %>
  <%= link_to video.video, { controller: "librarian", action: "watch", video: video.fullpath, contenttype: video.contenttype, title: video.video } %><br>
<% end %>
